/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* --color-orange-500: #FF7F50; */
  --color-orange-500: #FC8458;

  --color-orange-light: #FFB398;
  --color-blue-500: #16B4D6;
  /* 基本取代基礎白 */
  --color-white-base: #FDFDFD;
  /* 白底上區塊灰色的顏色 */
  --color-gray-area: #F5F5F5;
  --color-gray-line: #e9ecef;
  /* 特殊處 & icon使用 */
  --color-gray-icon: #B0B6BC;
  --color-text-primary: #2C3E50;
  --lightbox-bg: rgba(0, 0, 0, 0.85);
  --font-family-sans: 'GenJyuuGothicX', 'Noto Sans TC', sans-serif;
  --font-main: 'GenJyuuGothicX', sans-serif;

  /* 字體 ------------------------------------------------------------------------------------------*/
  /* 計算公式: 目標px / 基礎16px */
  /* 48px  banner */
  --font-size-h0:    3rem;
  /* 43px */
  --font-size-h1: 2.6875rem;
  /* 35px */
  --font-size-h2: 2.1875rem;
  /* 28px */
  --font-size-h3: 1.75rem;
  /* 24px */
  --font-size-h4: 1.5rem;
  /* 22px */
  --font-size-p: 1.375rem;
  /* 18px */
  /* 14px ~ 18px */
  /* --font-size-med: 1.125rem; */
  --font-size-med: clamp(0.875rem, 1.125rem, 1.125rem);
  /* 14px 0.875rem */
  --font-size-small: 14px;


  /* Font Weights ------------------------------------------------------------------------------------------ */
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /* Spacing ------------------------------------------------------------------------------------------ */
  --spacing-4: 1rem;
  --spacing-hover-shift: 0.25rem;
  /* 4px */

  /* 共用陰影 ------------------------------------------------------------------------------------------ */
  --c-shadow-soft: 0 8px 20px rgba(0, 0, 0, 0.1);
  /* --c-shadow-hover: 0 15px 35px rgba(0, 0, 0, 0.15); */
  --c-shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.12);

  /* Border radius variables ------------------------------------------------------------------------------------------ */
  --radius-26: 1.625rem;
  /* 26px */
  --radius-36: 2.25rem;
  /* 36px */
  --radius-48: 3rem;
  /* 48px */
  --radius-56: 3.5rem;
  /* 56px */
  --radius-80: 5rem;
  /* 80px */
  --radius-999: 9999px;
  /* 最大圓角 */


  /* 共用gap ------------------------------------------------------------------------------------------ */
  /* 20px */
  --c-gap-20: 1.25rem;

  /* 28px */
  /* --c-gap-28: 1.75rem; */
  --c-gap-28: 28px;

  /* 32px */
  --c-gap-32: 2rem;

  /* 41px */
  --c-gap-41: 2.5625rem;

  /* 48px */
  --c-gap-48: 3rem;

  /* 62px */
  --c-gap-62: 3.875rem;
  /* 80px */
  --c-gap-80: 5rem;

  /* 100px */
  --c-gap-100: 6.25rem;

  /* 41px */
  --h1-title-gap: 2.5625rem;

  /* 132px */
  --section-gap: 8.25rem;

  /* 畫面共用的 container-padding ------------------------------------------------------------------------------------------ */
  --container-padding: 80px;
  /* 44px */
  --card-body-padding: 2.75rem;

  /* Icon Sizes ------------------------------------------------------------------------------------------ */
  --icon-size-16: 1rem;
  /* --icon-size-16: 16px; */
  /* 16px */
  /* --icon-size-18: 1.125rem; */
  --icon-size-18: 18px;
  /* 18px */
  --icon-size-27: 1.6875rem;
  /* 27px */
  --icon-size-34: 2.125rem;
  /* 34px */
  --icon-size-50: 3.125rem;
  /* 50px */
  /* Transforms & Animations */
  --scale-hover-icon: 1.2;
  /* Icon 懸停時放大 20% */
  /* Swiper按鈕大小 */
  /* 77px */
  --carousel-button-size: 4.8125rem;

  /* GO TOP 大小 ------------------------------------------------------------------------------------------ */
  --go-top-size: 80px;

  /* 卡片圖常用比例變數 ------------------------------------------------------------------------------------------ */
  --aspect-ratio-custom: 447 / 333;
  /* ≈ 1.3423:1 */

  /* nav 高度 ------------------------------------------------------------------------------------------ */
  --nav-height: 6.25rem;
}

/* 響應式字體設定 (RWD Font-size Setting)
  1. 桌機 (Desktop): 預設 font-size: 100% (16px)
  2. 平板 (Tablet): 螢幕寬度 <= 992px 時, font-size: 87.5% (14px)
  3. 手機 (Mobile): 螢幕寬度 <= 768px 時, font-size: 75% (12px)
*/
html {
  font-size: 100%;
  /* Default: 16px */
}

/* ================== 響應式設定 ================== */

@media (max-width: 1540px) {
  :root {
    --carousel-button-size: 60px;
  }
}

@media (max-width: 1200px) {
  :root {
    --nav-height: 5rem;
  }
}

/* 平板區 (≤992px 且 >768px) */
@media (max-width: 992px) {
  html {
    /* 14px root */
    font-size: 87.5%;
  }

  :root {
    --container-padding: 48px;
    --card-body-padding: 2.5rem;
    --carousel-button-size: 44px;
    --go-top-size: 50px;
  }
}

/* 小平板/大手機 (≤768px 且 >576px) */
@media (max-width: 765px) {
  html {
    /* 12px root */
    font-size: 75%;
  }

  :root {
    --container-padding: 32px;
    /* 32px */
    --h1-title-gap: 2rem;
    --carousel-button-size: 38px;
  }
}

/* 手機 (≤576px) */
@media (max-width: 576px) {
  :root {
    --container-padding: 20px;
    --card-body-padding: 2.35rem;
    --carousel-button-size: 30px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--color-white-base);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-family-sans);
  margin: 0;
}


/* container-padding --------------------------------------------------------------------------  */
.container-padding {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}


/* 容器限制 --------------------------------------------------------------------------  */
.c-flex-col {
  display: flex;
  flex-direction: column;
}

.c-flex-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-flex-row-area,
.c-flex-row-re-area,
.c-flex-row-ap-area,
.c-flex-row-ap-re-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 950px) {
  .c-flex-row-ap-area {
    flex-direction: column;
  }

  .c-flex-row-ap-re-area {
    flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  .c-flex-row-area {
    flex-direction: column;
  }

  .c-flex-row-re-area {
    flex-direction: column-reverse;
  }
}

.c-content-1400 {
  max-width: 1400px;
  width: 100%;
}

.c-content-1300 {
  max-width: 1300px;
  width: 100%;
}

.c-content-1200 {
  max-width: 1200px;
  width: 100%;

}

.c-max-height {
  max-height: calc(100vh - var(--nav-height) - 10vh);
}



/* gap --------------------------------------------------------------------------  */

.h1-title-gap {
  gap: var(--h1-title-gap);
}

.h1-title-pb {
  padding-bottom: var(--h1-title-gap);
}

/* -------------- */
.section-gap {
  gap: var(--section-gap);
}

.section-mb {
  margin-bottom: var(--section-gap);
}

.section-pt {
  padding-top: var(--section-gap);
}

.section-pb {
  padding-bottom: var(--section-gap);
}

/* -------------- */

/* -------------- */

.section-gap-half {
  gap: calc(var(--section-gap) / 2);
}

.section-mb-half {
  margin-bottom: calc(var(--section-gap) / 2);
}

.section-pt-half {
  padding-top: calc(var(--section-gap) / 2);
}

.section-pb-half {
  padding-bottom: calc(var(--section-gap) / 2);
}

/* -------------- */


.row-area-gap {
  gap: var(--c-gap-80);
}

/* -------------- */
/* .menu-cardlist-gap {
  gap: var(--c-gap-100);
} */

.menu-cardlist-mb {
  padding-bottom: var(--c-gap-80);
}

/* -------------- */

.cardlist-gap {
  gap: var(--c-gap-48);
}

.c-gap-41 {
  gap: var(--c-gap-41);
}

.c-gap-62 {
  gap: var(--c-gap-62);
}

/* 平板 */
@media (max-width: 992px) {
  .row-area-gap {
    gap: var(--c-gap-62);
  }

  .cardlist-gap {
    gap: var(--c-gap-32);
  }
}

/* 手機 */
@media (max-width: 765px) {

  /* .menu-cardlist-gap {
    gap: var(--c-gap-62);
  } */

  .menu-cardlist-mb {
    padding-bottom: var(--c-gap-48);
  }

  .row-area-gap {
    gap: var(--c-gap-41);
  }
}

@media (max-width: 576px) {
  .section-gap {
    gap: calc(var(--section-gap) / 1.23);
  }

  .section-mb {
    margin-bottom: calc(var(--section-gap) / 1.23);
  }

  .section-pt {
    padding-top: calc(var(--section-gap) / 1.23);
  }

  .section-pb {
    padding-bottom: calc(var(--section-gap) / 1.23);
  }
}

/* 陰影 --------------------------------------------------------------------------  */
.c-shadow-soft {
  box-shadow: var(--c-shadow-soft);
}

.c-shadow-filter-soft {
  filter: drop-shadow(var(--c-shadow-soft));
}

/* Card Border --------------------------------------------------------------------------  */
.c-card-border {
  border: 2px solid var(--color-white-base);
}

/* 標籤盒子 --------------------------------------------------------------------------  */
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-bottom: 1.5rem; */
}

/* CardBody的ContactInfoItem組合應用 --------------------------------------------------------------------------  */
.info-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* gap: 4px;
  gap: 8px; */
  /* gap: 0.5rem; */
  width: 100%;
}

/* CardBody的ContactInfoItem組合應用 --------------------------------------------------------------------------  */
.tags-list {
  display: flex;
  gap: 1rem;
}

/* SVG 背景原件 固定比例滿版 -------------------------------------------------- */
.c-bg-svg {
  width: 100%;
  height: auto;
  display: block;

  margin-bottom: -1px;
}

/* 動態效果 (Transitions) -------------------------------------------------- */
/* 用於 transform 屬性的平滑過渡 */
.c-transition-transform {
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* 間隙 ------------------------------------------------- */
.space-1 {
  margin-bottom: 50px;
}

.space-2 {
  /* background-color: var(--color-gray-area); */
  /* 200px */
  height: var(--section-gap);
}

/* @media (max-width: 1200px) {
  .space-2 {
    height: 10rem;
  }
}

@media (max-width: 990px) {
  .space-2 {
    height: 5rem;
  }
} */

/* 省略字 --------------------------------------------------------------------------  */
/* 超過1行就省略 */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 超過2行就省略 */
.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 粗體 -------------------------------------------------------------------------- */
.fw-bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* 字體 -------------------------------------------------------------------------- */
.text-h0 {
  font-size: var(--font-size-h0);
  /* 40px */
  line-height: 150%;
  font-weight: 700;
}

.text-h1 {
  font-size: var(--font-size-h1);
  /* 43px */
  line-height: 120%;
  font-weight: 700;
}

.text-h2 {
  font-size: var(--font-size-h2);
  /* 35px */
  line-height: 150%;
  font-weight: 700;
}

.text-h2-light {
  font-size: var(--font-size-h2);
  line-height: 150%;
  font-weight: 500;
}

.text-h3 {
  font-size: var(--font-size-h3);
  /* 28px */
  line-height: 140%;
  font-weight: 700;
}

.text-h3-regular {
  font-size: var(--font-size-h3);
  line-height: 140%;
  font-weight: 500;
}

.text-h4 {
  font-size: var(--font-size-h4);
  /* 24px */
  line-height: 150%;
  font-weight: 700;
}

body,
.text-p {
  font-size: var(--font-size-p);
  /* 22px */
  line-height: 160%;
  font-weight: 500;
  letter-spacing: 15%;
}

.text-med {
  font-size: var(--font-size-med);
  /* 22px */
  line-height: 160%;
  font-weight: 500;
  letter-spacing: 15%;
}

.text-small {
  font-size: var(--font-size-small);
  /* 14px */
  line-height: 150%;
  font-weight: 300;
}

/* sm: Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
  .text-sm-h0 {
    font-size: var(--font-size-h0);
    line-height: 150%;
    font-weight: 700;
  }

  .text-sm-h1 {
    font-size: var(--font-size-h1);
    line-height: 120%;
    font-weight: 700;
  }

  .text-sm-h2 {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 700;
  }

  .text-sm-h2-light {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 500;
  }

  .text-sm-h3 {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 700;
  }

  .text-sm-h3-regular {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 500;
  }

  .text-sm-h4 {
    font-size: var(--font-size-h4);
    line-height: 150%;
    font-weight: 700;
  }

  .text-sm-p {
    font-size: var(--font-size-p);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 15%;
  }

  .text-sm-small {
    font-size: var(--font-size-small);
    line-height: 150%;
    font-weight: 300;
  }
}

/* md: Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
  .text-md-h0 {
    font-size: var(--font-size-h0);
    line-height: 150%;
    font-weight: 700;
  }

  .text-md-h1 {
    font-size: var(--font-size-h1);
    line-height: 120%;
    font-weight: 700;
  }

  .text-md-h2 {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 700;
  }

  .text-md-h2-light {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 500;
  }

  .text-md-h3 {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 700;
  }

  .text-md-h3-regular {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 500;
  }

  .text-md-h4 {
    font-size: var(--font-size-h4);
    line-height: 150%;
    font-weight: 700;
  }

  .text-md-p {
    font-size: var(--font-size-p);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 15%;
  }

  .text-md-small {
    font-size: var(--font-size-small);
    line-height: 150%;
    font-weight: 300;
  }
}

/* lg: Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .text-lg-h0 {
    font-size: var(--font-size-h0);
    line-height: 150%;
    font-weight: 700;
  }

  .text-lg-h1 {
    font-size: var(--font-size-h1);
    line-height: 120%;
    font-weight: 700;
  }

  .text-lg-h2 {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 700;
  }

  .text-lg-h2-light {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 500;
  }

  .text-lg-h3 {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 700;
  }

  .text-lg-h3-regular {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 500;
  }

  .text-lg-h4 {
    font-size: var(--font-size-h4);
    line-height: 150%;
    font-weight: 700;
  }

  .text-lg-p {
    font-size: var(--font-size-p);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 15%;
  }

  .text-lg-small {
    font-size: var(--font-size-small);
    line-height: 150%;
    font-weight: 300;
  }
}

/* xl: Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-xl-h0 {
    font-size: var(--font-size-h0);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xl-h1 {
    font-size: var(--font-size-h1);
    line-height: 120%;
    font-weight: 700;
  }

  .text-xl-h2 {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xl-h2-light {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 500;
  }

  .text-xl-h3 {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 700;
  }

  .text-xl-h3-regular {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 500;
  }

  .text-xl-h4 {
    font-size: var(--font-size-h4);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xl-p {
    font-size: var(--font-size-p);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 15%;
  }

  .text-xl-small {
    font-size: var(--font-size-small);
    line-height: 150%;
    font-weight: 300;
  }
}

/* xxl: Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .text-xxl-h0 {
    font-size: var(--font-size-h0);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xxl-h1 {
    font-size: var(--font-size-h1);
    line-height: 120%;
    font-weight: 700;
  }

  .text-xxl-h2 {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xxl-h2-light {
    font-size: var(--font-size-h2);
    line-height: 150%;
    font-weight: 500;
  }

  .text-xxl-h3 {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 700;
  }

  .text-xxl-h3-regular {
    font-size: var(--font-size-h3);
    line-height: 140%;
    font-weight: 500;
  }

  .text-xxl-h4 {
    font-size: var(--font-size-h4);
    line-height: 150%;
    font-weight: 700;
  }

  .text-xxl-p {
    font-size: var(--font-size-p);
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 15%;
  }

  .text-xxl-small {
    font-size: var(--font-size-small);
    line-height: 150%;
    font-weight: 300;
  }
}

/* 背景色 --------------------------------------------------------------------------  */
.c-bg-orange-500 {
  background-color: var(--color-orange-500);
}

.c-bg-blue-500 {
  background-color: var(--color-blue-500);
}

.c-bg-white-base {
  background-color: var(--color-white-base);
}

.c-bg-gray-area {
  background-color: var(--color-gray-area);
}

.c-bg-gray-icon {
  background-color: var(--color-gray-icon);
}

.c-bg-text-primary {
  background-color: var(--color-text-primary);
}

.c-bg-wave {
  background-image: url(@/assets/img/bg-gray-all-page.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 字體顏色 --------------------------------------------------------------------------  */
.c-text-orange-500 {
  color: var(--color-orange-500);
}

.c-text-blu-500 {
  color: var(--color-blue-500);
}

.c-text-white-base {
  color: var(--color-white-base);
}

.c-text-gray-area {
  color: var(--color-gray-area);
}

.c-text-gray-icon {
  color: var(--color-gray-icon);
}

.c-text-primary {
  color: var(--color-text-primary);
}

/* 圓角 --------------------------------------------------------------------------  */
/* 26px */
.ui-radius-26 {
  border-radius: var(--radius-26);
}

.ui-radius-36 {
  border-radius: var(--radius-36);
}

.ui-radius-48 {
  border-radius: var(--radius-48);
}

.ui-radius-56 {
  border-radius: var(--radius-56);
}

.ui-radius-80 {
  border-radius: var(--radius-80);
}

/* 不論如何都會是最大圓角 */
.ui-radius-999 {
  border-radius: 9999px;
}

/* Icon Utilities -------------------------------------------------- */
.c-icon-size-16 {
  width: var(--icon-size-16);
  height: var(--icon-size-16);
}

.c-icon-size-18 {
  width: var(--icon-size-18);
  height: var(--icon-size-18);
}

.c-icon-size-27 {
  width: var(--icon-size-27);
  height: var(--icon-size-27);
}

.c-icon-size-34 {
  width: var(--icon-size-34);
  height: var(--icon-size-34);
}

.c-icon-size-50 {
  width: var(--icon-size-50);
  height: var(--icon-size-50);
}



/* 按鈕基礎樣式 (通用) (考慮要不要用) ======================================================= */
.c-btn {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  border-width: 2px;
  border-style: solid;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-white-base);
  color: var(--color-text-primary);
}

/* 膠囊/藥丸形狀 */
.c-btn--pill {
  border-radius: var(--radius-999);
}

/* --- 顏色主題 --- */
/* 橘色主題 */
.c-btn--orange {
  border-color: var(--color-orange-500);
}

.c-btn--orange:hover,
.c-btn--orange.active {
  background-color: var(--color-orange-500);
  color: var(--color-white-base);
}

/* 藍色主題 */
.c-btn--blue {
  border-color: var(--color-blue-500);
}

.c-btn--blue:hover,
.c-btn--blue.active {
  background-color: var(--color-blue-500);
  color: var(--color-white-base);
}

/* 按鈕基礎樣式 (通用) ======================================================= */

.u-interactive-link-hover {
  /* 設定預設樣式 */
  text-decoration: none;
  color: inherit;
  /* 您可以根據系統設定預設顏色 */

  /* 【核心】從 InfoCard 提取出的統一動效 */
  transition: color 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.u-interactive-link-hover:hover {
  /* 設定 hover 狀態的樣式 */
  color: var(--color-blue-500);
  text-decoration: underline;
}